<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="clearfix">
    <%= f.label :username %>
    <div class="input">
      <%= f.text_field :username %>
    </div>
  </div>
  
  <div class="clearfix">
    <%= f.label :email %>
    <div class="input">
      <%= f.text_field :email %>
    </div>
  </div>
  
  <div class="clearfix">
    <%= f.label :password %>
    <div class="input">
      <%= f.password_field :password %>
    </div>
  </div>
  
  <div class="clearfix">
    <%= f.label :password_confirmation %>
    <div class="input">
      <%= f.password_field :password_confirmation %>
    </div>
  </div>
  
  <div class="clearfix">
    <%= f.label :invatation_code %>
    <div class="input">
      <%= f.text_field :invite_code %>
    </div>
  </div>

  <div><%= f.submit "Sign up", :class => 'btn primary' %></div>
<% end %>

<%= render :partial => "devise/shared/links" %>
