<h2><%= @article.title %></h2>

<div class="article_info">
  <div class="row">
    <label class="label"><%= t("activerecord.labels.author") %></label>
    <%= linkify_authors(@article.authors) %>
  </div>

  <div class="row">
    <label class="label"><%= t("activerecord.labels.conference") %></label>
    <div><%= link_to conference_full_name(@article.conference), @article.conference %></div>
  </div>

  <div class="row">
    <label class="label"><%= t("activerecord.labels.pages") %></label>
    <% if @article.page_start %>
      <div><%= @article.page_start %> -- <%= @article.page_end %></div>
    <% end %>
  </div>

  <div class="row">
    <label class="label"><%= t("activerecord.labels.year") %></label>
    <div><%= @article.year %></div>
  </div>

  <div class="row">
    <label class="label"><%= t("activerecord.labels.abstract") %></label>
    <div><%= @article.abstract %></div>
  </div>
</div>

<div class="article_social">
  <div class="like">
    <% if @like %>
      <%= link_to "Unlike", toggle_like_article_path, :method => :post, :format => :json, :remote => true, :class => 'like_button' %>
    <% else %>
      <%= link_to "Like", toggle_like_article_path, :method => :post, :format => :json, :remote => true, :class => 'like_button' %>
    <% end %>
  </div>
</div>
