<h1>
  <%= @article.title %>
</h1>


<div class="article_info">
  <div class="row">
    <label class="label"><%= t("activerecord.labels.author") %></label>
    <%= linkify_authors(@article.authors) %>
  </div>

  <div class="row">
    <label class="label"><%= t("activerecord.labels.conference") %></label>
    <div><%= link_to @article.conference.title, @article.conference %></div>
  </div>

  <div class="row">
    <label class="label"><%= t("activerecord.labels.pages") %></label>
    <% if @article.page_start %>
      <div><%= @article.page_start %> -- <%= @article.page_end %></div>
    <% end %>
  </div>

  <div class="row">
    <label class="label"><%= t("activerecord.labels.year") %></label>
    <div><%= @article.year %></div>
  </div>

  <div class="row">
    <label class="label"><%= t("activerecord.labels.abstract") %></label>
    <div><%= @article.abstract %></div>
  </div>
</div>

<div class="row article-social">
  <div class="row">
    <div class="like offset1">
      <% if @like %>
        <%= link_to "Unlike", toggle_like_article_path, :method => :post, :format => :json, :remote => true, :class => 'like_button button icon like' %>
      <% else %>
        <%= link_to "Like", toggle_like_article_path, :method => :post, :format => :json, :remote => true, :class => 'like_button button icon like' %>
      <% end %>
      <div class="like-list">
        <% unless @article.likes.blank? %>
          Liked by
          <%= @article.likes.each.map { |e| e.account.username }.join(', ') %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class ="comments span8">
      <% if @article.comments.blank? %>
        No comments yet.
      <% else %>
        <% @article.comments.each_with_index do |c, i| %>
          <div class="row comment" id="comment<%= c.id %>">
            <div class="comment-avatar span1"><%= image_tag c.account.avatar_url(36) %></div>
            <div class="comment-body offset1">
              <div class="comment-header">
                <div class="comment-author"><%= c.account.username %></div>
              </div>
              <div class="comment-message">
                <div class="comment-text"><%= c.text %></div>
              </div>
              <div class="comment-footer">
                <div class="post-date"><%= time_ago_in_words(c.created_at.gmtime) %> ago</div>
                <div class="comment-actions">
                  <% if defined?(current_account) and current_account and current_account.id == c.account.id %>
                    <%= link_to_function "Modify", "modify_comment(#{c.id})" %>
                    <%= link_to "Delete", c, :method => :delete, :confirm => "Do you really want to delete the comment?" %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="span8">
      <% unless defined?(current_account) and current_account %>
        Please sign in to comment.
      <% else %>
        <div class="comment-reply">
          <div class="comment-avatar span1"><%= image_tag current_account.avatar_url(36) %></div>
          <%= form_tag(:controller => 'comments', :action => 'create') do %>
            <%= hidden_field_tag(:commentable_id, @article.id) %>
            <%= hidden_field_tag(:commentable_type, @article.class.to_s) %>
            <div class="row">
              <div class="span7 offset1">
                <%= text_area_tag(:text, nil, :placeholder => "Type your comment here.", :class => 'span7') %>
              </div>
            </div>
            <div class="row">
              <div class="span8">
                <div class="actions">
                  <%= submit_tag "Post", :class => 'btn primary' %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
