Quick navigation <input type="text" id="author_search_field" data-autocomplete="authors/autocomplete_author_name">

<table>
  <tr>
    <th>Name</th>
    <th>Institute</th>
    <th>Articles count</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @authors.each do |author| %>
  <tr>
    <td><%= author.name %></td>
    <td><%= author.institute %></td>
    <td><%= author.articles_count %></td>
    <td><%= link_to 'Show', author %></td>
    <td><%= link_to 'Edit', edit_author_path(author) %></td>
    <td><%= link_to 'Destroy', author, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<%= paginate @authors, :params => { :controller => 'authors', :action => 'all' } %>

<br />

<%= link_to 'New Author', new_author_path %>
