Quick navigation <input type="text" id="author_search_field" data-autocomplete="authors/autocomplete_author_name">

<div class="row">
  <div class="span4">
    <h2>Popular</h2>
    <table>
      <% @by_pageview.each do |author| %>
        <tr>
          <td><%= author.name %> (<%= pluralize(author.articles_count, 'article') %>)</td>
        </tr>
      <% end %>
    </table>
  </div>

  <div class="span4 offset2">
    <h2>Productive</h2>
    <table>
      <% @by_article.each do |author| %>
        <tr>
          <td><%= author.name %> (<%= pluralize(author.articles_count, 'article') %>)</td>
        </tr>
      <% end %>
    </table>
    </div>
</div>

<br />

<%= link_to 'See all', all_authors_path %>
