<%= form_for(@conference) do |f| %>
  <div class="clearfix">
    <%= f.label :title, t("activerecord.attributes.conference.title", :default => "Title"), :class => :label %>
    <div class="input">
      <%= f.text_field :title, :class => 'text_field' %>
    </div>
  </div>

  <div class="clearfix">
    <%= f.label :year, t("activerecord.attributes.conference.year", :default => "Year"), :class => :label %>
    <div class="input">
      <%= f.number_field :year, :class => 'number_field' %>
    </div>
  </div>

  <div class="clearfix">
    <%= f.label :booktitle, t("activerecord.attributes.conference.booktitle", :default => "Booktitle"), :class => :label %>
    <div class="input">
      <%= f.text_field :booktitle, :class => 'text_field span11' %>
    </div>
  </div>

  <div class="actions">
    <button class="btn primary" type="submit">Save</button> or
    <%= link_to "Cancel", conferences_path %>
  </div>

<% end %>
